@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars during the loading screen */
    display: flex;
    flex-wrap: nowrap;
    
    
}


.intro-container {
    background-color: #052810; /* Black background color */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: white;
    transition: 1s;
    position: relative;
    top: 0px;
    
}

.hello{
    position: absolute;
    opacity:0;
    display: inline;
    bottom: 33px;
    margin-right: 60px;
    margin-bottom: 300px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 30px;
 
 
}


.hello.active {
    opacity: 1;
    bottom:40px;
    transition: ease-in-out 0.5s;
}

.hello.fade {
    bottom: 400px;
    opacity:0;
    transition: ease-in-out 2s;
}
.loginPage {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers child elements horizontally */
    align-items: center; /* Centers child elements vertically */
    background-image: url('/static/images/ten.avif');

    
    background-position: center;
    position: fixed; /* Fixes the position relative to the viewport */
    top: 100vh; /* Starts off-screen at the bottom */
    left: 0; /* Aligns to the left of the viewport */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */  transition: top 0.4s ease-in-out; /* Smooth transition for sliding effect */
    font-family: "Bodoni Moda SC", serif;
    
}


.loginPage.show {
    top: 0; /* Slide to the top */
}



.logo{
    font-weight: bolder;
    font-size: 35px;
    color: white;
    padding-left: 30px;
    
}



.signButtons {
    display: flex;
    justify-content: flex-end; /* Aligns items to the bottom of the container */
    gap: 20px; /* Space between buttons */
    border: 3px solid rgb(89, 16, 16);
    width: 80%;/* Visualize the container */
    padding: 12px 20px;
 }

.SignInSwitch{
    border: none;
    border-radius: 100px;
    padding: 9px 50px;
    opacity:0.5;
    
    
}

.SignInSwitch:hover{
    opacity:0.7;
    cursor: pointer;
}


.SignUpSwitch{
    border: none;
    border-radius: 100px;
    padding: 9px 50px;
    opacity: 0.5;
   
}

.SignUpSwitch:hover{
    opacity:0.7;
    cursor: pointer;
}


.loginBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  border: 8px solid white;
  position: fixed;
  width:40%;
  height: 50%;

}

.SignIn{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  border: 8px solid white;
  position: fixed;
  width:40%;
  height: 50%;

}



.loginLink{
    color:white
}


.SignUpLink{
    color:white
}



.wrapper{
    width: 100%;
    display: flex;
}


.logoBox{
    display: flex;
    border: 12px solid black;
    width: 200px;
   
}

.topRow{
    display: flex;
    border: 5px solid black;
    
    align-self: flex-start;
    width:100%;
}

.emailBox{
    border-radius: 100px;
    background-color:gray;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 33px;
    color: #ffff

}



.emailWrapper{
    background-color: transparent;
    width:60%;
    height:9%;
    border-radius: 100px;
    position: relative;
    
}
.fas{
    position: relative; 
    top: -26px; /* Move the icon up by 10px */
    left: 7px;
   
}
    
  

.userWrapper{
    background-color: transparent;
    width:60%;
    height:9%;
    border-radius: 100px;
    position: relative;
    top:20px;

}

.passwordWrapper{
    background-color: transparent;

    width:60%;
    height:9%;
    border-radius: 100px;
    position: relative;
    top: 40px;
}

.registerWrapper{
    
    
    width:60%;
    height:9%;
    border-radius: 100px;
    position: relative;
    top: 60px;
}

.RegButton{
    border: none;
    border-radius: 100px;
    width: 100%;
    height: 100%;

}

.LogButton{
    border: none;
    border-radius: 100px;
    width: 100%;
    height: 100%;

}

.RegButton:hover{
    opacity:0.8;
}

.LogButton:hover{
        opacity:0.8;
    
}

.emailBox{
    opacity: 0.5;
}



.emailBox::placeholder {
    color: #FFFFFF; /* Brighter white placeholder text */
    opacity: 1.2; /* Slightly less opacity for better visibility */
}


.emailBox:hover{

    opacity: 0.7;

}



.userBox{
  opacity: 0.5;

    
}

.SignInSwitch.show{

    opacity:1
}

.SignUpSwitch.show{
    opacity:1;
}

.SignInSwitch.hide{
    opacity: 0.5;
}

.SignUpSwitch.hide{
    opacity:0.5
}

.error-message {
    position:absolute;
    display: inline;
    top: 80px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid red;
    background-color: #fdd;
    text-anchor: left;
    color: red;
    font-weight: bold;
}

