<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Clock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
  
  
  <!-- Intro Screen -->
  <div class="intro-container"> <!-- Container for the intro screen content -->
    <span class="hello">Hello</span> <!-- Greeting in various languages -->
    <span class="hello">こんにちは</span>
    <span class="hello">Bonjour</span>
    <span class="hello">Ahoj</span>
    <span class="hello">Ciao</span>
    <span class="hello">안녕하세요</span>
    <span class="hello">Привет</span>
    <span class="hello">Hola</span>
</div> <!-- End of intro screen -->



<script type="module" src="{{ url_for('static', filename='index.js') }}">

</script>


</body>
</html>