<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
</head>
<body>
   <div class="wrapper">  <!-- Add this wrapper -->
       <form action="{{url_for('reset_password', token=oken)}}" method="POST">
           <div class="confirmForm">
               <h1 class="logo">BYTE</h1>
               <label for="password">New Password</label>
               <div class="inputBox">
                 <input type="password" name="password" class ="box1" required>
               </div>
               <label for="confirm-password"> Confirm Password</label>
               <div class="inputBox">
                 <input type="confirm-password" class="box1" name="confirm-password" required>
               </div>
               <button class="button">Change Password</button>
           </div>
       </form>
   </div>  <!-- End of wrapper -->
</body>
</html>
